@import 'variables';

:host {
  display: flex;
  flex-direction: column;
  padding: 0 $cube * 20;

  main {
    width: 100%;
    max-width: $cube * 1000;
    margin: 0 auto;

    section {
      min-height: calc(100vh - #{$cube * 40});
      padding: $cube * 20 0;
    }

    .title {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .avatar {
        width: $cube * 180;
        height: $cube * 180;
        border-radius: 50%;
        box-shadow: $box-shadow;
      }

      .text {
        display: flex;
        flex-direction: column;
        margin-top: $cube * 40;
        text-align: center;

        .line {
          text-shadow: $text-shadow;
        }

        .first-line {
          font-size: $cube * 30;
        }

        .second-line {
          font-size: $cube * 70;
        }
      }

      .social-media {
        display: flex;
        align-items: center;
        margin-top: $cube * 10;

        a {
          display: flex;
          width: $cube * 30;
          height: $cube * 30;
          align-items: center;
          justify-content: center;

          &:not(:first-child) {
            margin-left: $cube * 30;
          }

          svg {
            fill: $primary-text-color;
            transition: fill $transition;
          }

          &:hover svg {
            fill: $primary-light;
          }
        }
      }

      .description {
        margin-top: $cube * 30;
        font-size: $text-font-size;
        line-height: 1.5;
        text-align: center;
      }
    }
  }
}
