<main>
  <section class="title">
    <img alt="Marcel's Avatar" class="avatar" src="assets/images/avatar.png">
    <div class="text">
      <span class="line first-line">Hello, I am</span>
      <span class="line second-line highlight not">Marcel</span>
    </div>
    <div class="social-media">
      <a class="not" href="https://github.com/MarcelCoding" rel="noopener" target="_blank">
        <!-- https://github.com/leungwensen/svg-icon/blob/master/dist/svg/ant/github.svg -->
        <svg viewBox="0 0 1024 998" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M0 512q0 166 96 299t247 185l10 1 7-1 4-3 2-5V882q-37 4-66 0t-45-14q-16-10-29-24t-17-25l-9-24-6-15q-9-15-27-27t-27-20q-9-8-2-15 50-26 113 66 34 51 119 30 10-41 40-70-116-21-172-86t-56-158q0-87 55-151-22-65 6-137 29-2 65 12t51 23l25 17q57-16 129-16t129 16l29-19q16-10 49-21t61-10q27 71 6 135 56 64 56 152 0 92-56 158t-172 85q43 43 43 104v129l1 3 1 9 4 6q3 3 11 3 154-52 252-185t97-301q0-104-40-199T875 150Q806 82 711 41T512 0Q408 0 313 41T150 150Q82 218 41 313T0 512z"/>
        </svg>
      </a>
      <a class="not" href="https://twitter.com/MarcelCoding" rel="noopener" target="_blank">
        <!-- https://github.com/leungwensen/svg-icon/blob/master/dist/svg/flat/twitter.svg -->
        <svg viewBox="0 0 1024 832" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M1024 96c-38 19-76 26-121 32 45-26 77-64 89-115-38 25-83 38-134 51-38-38-96-64-154-64-108 0-204 96-204 211 0 19 0 32 6 45-173-6-333-90-435-218a210 210 0 0070 275c-32 1-64-12-96-25 0 102 71 186 167 205-20 13-39 13-58 13-13 0-26 0-38-7 25 83 102 147 198 147-70 58-160 90-262 90H0a592 592 0 00915-499v-26c45-32 84-70 109-115z"/>
        </svg>
      </a>
    </div>
    <p class="description">
      My name is <span class="highlight">Marcel</span>.
      <br>
      I'm mainly a
      <a href="https://en.wikipedia.org/wiki/Java_(programming_language)" rel="noopener" target="_blank">
        Java Developer
      </a>,
      and currently learning
      <a href="https://www.rust-lang.org/" rel="noopener" target="_blank">Rust</a>.
      <!--<br>
      I am also the creator of <a href="https://github.com/getnova" rel="noopener" target="_blank">Nova</a> - a Java
      Framework on top of <a href="https://spring.io" rel="noopener" target="_blank">Spring</a>.-->
      <br>
      <br>
      Besides backends, I also work on frontends with the framework
      <a href="https://angular.io" rel="noopener" target="_blank">Angular</a>.
      <br>
      <br>
      As you may have noticed, my favorite color is
      <a href="https://en.wikipedia.org/wiki/Orange_(colour)" rel="noopener" target="_blank">orange</a>.
    </p>
  </section>
</main>
