/* You can add global styles to this file, and also import other style files */
@import 'variables';

@import '~@fontsource/roboto-mono/400.css';
@import '~@fontsource/roboto-mono/500.css';

@import '~@fontsource/roboto-mono/variable.css'; // Contains ONLY variable weights and no other axes.
//@import "~@fontsource/roboto-mono/variable-italic.css"; // Italic variant.

html {
  background-color: $secondary;
  color: $primary-text-color;

  noscript {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      font-size: $text-font-size * 2.5;
    }

    p {
      margin-top: $cube * 20;
      font-size: $text-font-size;
      text-align: center;
    }
  }
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Mono', $fallback-font-family;
  font-weight: 400;
  scrollbar-width: thin;
  user-select: none;

  @supports (font-variation-settings: normal) {
    font-family: 'Roboto MonoVariable', $fallback-font-family;
    font-variation-settings: 'wght' 400;
  }
}

a:not(.not) {
  display: inline-block;
  text-decoration: none;

  &::after {
    bottom: 0;
    display: block;
    width: 0;
    height: $cube * 2;
    background-image: linear-gradient(45deg, $primary-dark, $primary-light, $primary-light);
    content: '';
    transition: width $transition;
  }

  &:hover::after {
    width: 100%;
  }

  &.active::after {
    width: 100%;
  }
}

h1, h2, h3, h4, h5, h6, strong, b {
  font-family: 'Roboto Mono', $fallback-font-family;
  font-weight: 500;

  @supports (font-variation-settings: normal) {
    font-family: 'Roboto MonoVariable', $fallback-font-family;
    font-variation-settings: 'wght' 500;
  }
}

.highlight, a {
  background-clip: text;
  background-image: linear-gradient(45deg, $primary-dark, $primary-light, $primary-light);
  -webkit-text-fill-color: transparent;
}
